/*Title*/
h1 {
    float: right;
    margin: 300px 20%;
    color: #1d1d1d;
    -webkit-text-stroke: 1px #393939;
}
/*continue button*/
#continue {
    color: #1d1d1d;
    text-decoration: none;
    float: right;
    margin: 450px -53%;
    font-size: 300%;
}
#continue:hover {
    transform: scale(1.2);
}
/* Text */
.container {
    width: auto;
    height: auto;
    opacity: 80%;
    margin: 100px 200px 0;
    padding: 0;
    float: right;
    line-height: 30px;
    background-color: transparent;
}
.container2 {
    height: 755px;
    width: 100px;
    background-color: #707070;
    float: left;
    position: fixed;
    padding-top: 50px;
    top: 0;
}
#text-2 {
    margin-bottom: 200px;
}
/*menu sidebar*/
ul {
    list-style-type: none;
}
li {
    text-align: left;
    margin: 10px 10px 10px -20px;
}
.menu {
    text-decoration: none;
    color: black;
}
li:hover {
    animation-name: hover;
    animation-duration: 300ms;
    animation-fill-mode: forwards;
}
@keyframes hover {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.2);
    }
}
/*body*/
body {
    background-image: url("images/background.jpg");
    background-repeat: no-repeat;
    background-size: 100% 755px;
    margin: 0;
    position: absolute;
    font-family: Consolas, monospace;
}