h2 {
    font-size: 4vw;
    font-weight: bold;
    margin-bottom: 10vh;
    margin-top: 10vh;
    display: block;
    text-align: center;
    text-shadow: 0 3px 0.5px rgba(0,0,0,.1),
                 0 0 2.5px rgba(0,0,0,.1),
                 0 0.5px 1.5px rgba(0,0,0,.3),
                 0 1.5px 2.5px rgba(0,0,0,.2),
                 0 2.5px 5px rgba(0,0,0,.25),
                 0 5px 5px rgba(0,0,0,.2),
                 0 10px 10px rgba(0,0,0,.15);
}
h3 {
    display: block;
    text-align: center;
    font-size: 2vw;
    margin-top: 5%;
}
/*CV Table*/
table {
    margin-left: 12vw;
    width: 80vw;
    color: black;
    padding-bottom: 10vh;
}
.info-title {
    background-color: #ffffff;
    padding: 1vw;
    text-align: center;
    width: 60vw;
}
.info-title:hover {
    background-color: #f7f7f7;
}
.tab {
    font-weight: bold;
    width: 10vw;
    background-color: white;
    text-align: center;
    vertical-align: top;
    padding: 1vw;
}
.tab, .info-title {
    font-size: 1vw;
}
.info {
    border: none;
    padding: 1.5vw;
    text-align: left;
    width: 80vw;
    background-image: linear-gradient(to top right, rgba(255, 255, 255, 0.788), rgba(255, 255, 255, 0.253));
    column-span: 0;
    font-size: 1vw;
}
a {
    color: black;
}
a:hover {
    color: salmon;
}

/*menu sidebar*/

.navbar {
    height: 100%;
    width: 7vw;
    background-image: linear-gradient(to right,rgba(255, 255, 255, 0.3),rgba(255, 255, 255, 0.13));
    float: left;
    position: fixed;
    padding-top: 1vw;
    top: 0;
}
ul {
    list-style-type: none;
    position: fixed;
    font-size: 1vw;
    margin-left: -1.5vw;
    margin-right: auto;
}
li {
    text-align: left;
}
.menu {
    text-decoration: none;
    color: rgb(255, 255, 255);
}
.menu:hover {
    color: salmon;
}
li:hover {
    animation-name: hover;
    animation-duration: 300ms;
    animation-fill-mode: forwards;
}
@keyframes hover {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.2);
    }
}

/* footer */

footer {
    text-align: center;
    font-size: 1vw;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    position: absolute;
    bottom: 1vh;
}

/*body*/

#page-container {
    position: relative;
}
body {
    background-image: linear-gradient(to top right, rgb(30, 30, 39), rgb(58, 76, 121));
    margin: 0;
    font-family: Consolas, monospace;
    color: white;
}
@media only screen and (max-width: 600px) {
    .navbar {
        display: none;
    }
}