h2 {
    font-size: 500%;
    font-weight: bold;
    margin-bottom: 100px;
    margin-top: 7%;
    display: block;
    text-align: center;
}
/*CV Table*/
table {
    margin-left: 15%;
    width: 80%;
}
th {
    background-color: #f7f7f7;
    padding: 20px;
}
td {
    background-color: #ffffff;
    padding: 20px;
}
td:hover {
    background-color: #f7f7f7;
}

/*menu sidebar*/

.navbar {
    height: 100%;
    width: 120px;
    background-image: linear-gradient(to right,#eeeeee,#ffffff);
    float: left;
    position: fixed;
    padding-top: 50px;
    top: 0;
    display: block;
}
ul {
    list-style-type: none;
    position: fixed;
    margin-left: -1%;
}
li {
    text-align: left;
}
.menu {
    text-decoration: none;
    color: black;
}
li:hover {
    animation-name: hover;
    animation-duration: 300ms;
    animation-fill-mode: forwards;
}
@keyframes hover {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.2);
    }
}

/* footer */

footer {
    margin-bottom: 0;
    margin-left: 120px;
    width: 90.7%;
    height: 20px;
    text-align: center;
    padding: 10px;
    background-color: white;
    background-position: bottom;
    font-size: 75%;
    display: block;
    float: left;
    margin-top: 50vh;
}

/*body*/

body {
    margin: 0;
    background-image: linear-gradient(65deg, rgb(60, 109, 214), rgb(60, 170, 214) ,rgb(60, 204, 214));
    background-color: #dce2e9;
    font-family: Consolas, monospace;
}
@media only screen and (max-width: 900px) {
    h2 {
        font-size: 300%;;
    }
    .navbar {
        display: none;
    }
    footer {
        margin-left: 0;
        width: 100%;
    }
    img {
        margin-right: auto;
    }
    table {
        margin-left: 10%;
    }
}
@media only screen and (max-width: 500px) {
    h2 {
        font-size: 200%;;
    }
}