h2 {
    font-size: 500%;
    font-weight: bold;
    margin-bottom: 100px;
    margin-top: 7%;
    display: block;
    text-align: center;
}
h3 {
    display: block;
    text-align: center;
    font-size: 200%;
    margin-top: 5%;
}
/*CV Table*/
table {
    margin-left: 15%;
    width: 80%;
    color: black;
}
.info-title {
    background-color: #ffffff;
    padding: 1%;
    text-align: center;
    width: 60%;
}
.info-title:hover {
    background-color: #f7f7f7;
}
.tab {
    font-weight: bold;
    width: 20%;
    background-color: white;
    text-align: center;
    vertical-align: top;
    padding: 20px;
}
.tab, .info-title {
    font-size: 120%;
}
.info {
    border: none;
    padding: 2%;
    text-align: left;
    width: 80%;
    background-image: linear-gradient(to top right, rgba(255, 255, 255, 0.788), rgba(255, 255, 255, 0.253));
    column-span: 0;
}
a {
    color: black;
}
a:hover {
    color: salmon;
}

/*menu sidebar*/

.navbar {
    height: 100%;
    width: 120px;
    background-image: linear-gradient(to right,rgba(255, 255, 255, 0.3),rgba(255, 255, 255, 0.13));
    float: left;
    position: fixed;
    padding-top: 50px;
    top: 0;
}
ul {
    list-style-type: none;
    position: fixed;
    margin-left: -1%;
}
li {
    text-align: left;
}
.menu {
    text-decoration: none;
    color: rgb(255, 255, 255);
}
.menu:hover {
    color: salmon;
}
li:hover {
    animation-name: hover;
    animation-duration: 300ms;
    animation-fill-mode: forwards;
}
@keyframes hover {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.2);
    }
}

/* footer */

footer {
    margin-bottom: 0;
    height: 20px;
    text-align: center;
    padding: 10px;
    font-size: 75%;
    display: block;
    margin-top: 100vh;
    margin-right: auto;
    margin-left: auto;
}

/*body*/

body {
    background-image: linear-gradient(to top right, rgb(30, 30, 39), rgb(58, 76, 121));
    margin: 0;
    font-family: Consolas, monospace;
    color: white;
}
@media only screen and (max-width: 900px) {
    h2 {
        font-size: 300%;;
    }
    .navbar {
        display: none;
    }
    footer {
        margin-left: 0;
        width: 100%;
    }
    img {
        margin-right: auto;
    }
    table {
        margin-left: 10%;
    }
}
@media only screen and (max-width: 500px) {
    h2 {
        font-size: 200%;;
    }
}