
/*contactlist*/
ol {
    margin-left: 15%;
    margin-top: 7%;
    list-style-type: none;
}
.list-contact {
    margin: 0 auto 4%;
    font-size: 350%;
}
.link {
    text-decoration: none;
    color: rgb(255, 255, 255);
}
.list-contact:hover {
    animation-name: link;
    animation-duration: 300ms;
    animation-fill-mode: forwards;
}
@keyframes link {
    0% {
        font-size: 350%;
    }
    100% {
        font-size: 360%;
    }
}
#list-title {
    font-size: 400%;
    font-weight: bold;
    margin-bottom: 100px;
}

/*contactform*/

#form-title {
    font-size: 400%;
}
.container {
   width: calc(100%-120px);
   margin-left: 120px;; 
   opacity: 1;
   padding: 5%;
}
input, textarea {
    width: 100%;
    padding: 1%;
    border: none;
    opacity: 0.8;
}
input:focus, textarea:focus {
    opacity: 1;
}
#submit {
    width: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1%;
    background-image: linear-gradient(to top right, rgb(197, 98, 87), rgb(250, 155, 144));
    font-family: Consolas, monospace;
    border-radius: 25px;
    font-size: 120%;
    border: none;
    color: black;
}
#submit:hover {
    color: white;
}

/*menu sidebar*/

.navbar {
    height: 100%;
    width: 120px;
    background-image: linear-gradient(to right,rgba(255, 255, 255, 0.3),rgba(255, 255, 255, 0.13));
    float: left;
    position: fixed;
    padding-top: 50px;
    top: 0;
}
ul {
    list-style-type: none;
    position: fixed;
    margin-left: -1%;
}
li {
    text-align: left;
}
.menu {
    text-decoration: none;
    color: rgb(255, 255, 255);
}
.menu:hover {
    color: salmon;
}
li:hover {
    animation-name: hover;
    animation-duration: 300ms;
    animation-fill-mode: forwards;
}
@keyframes hover {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.2);
    }
}

/* footer */

footer {
    text-align: center;
    font-size: 1vw;
    display: block;
    position: sticky;
    margin: 0 35vw 3vh 35vw;
}

/*body*/

body {
    background-image: linear-gradient(to top right, rgb(30, 30, 39), rgb(58, 76, 121));
    margin: 0;
    font-family: Consolas, monospace;
    color: white;
}
@media only screen and (max-width: 1200px) {    
    #mail {
        font-size: 75%;
    }
}
@media only screen and (max-width: 930px) {
    .navbar {
        display: none;
    }
    body {
        background-size: 930px auto;
        background-repeat: no-repeat;
    }
    footer {
        margin-left: 0;
        width: 125%;
        margin-bottom: 0;
        margin-top: 50vh;
    }
    img {
        display: none;
    }
}
@media only screen and (max-width: 600px) {
    .list-contact {
        font-size: 200%;
        margin-right: 0;
    }
}
@media only screen and (max-width: 600px) {
    #form-title {
        font-size: 200%;
    }
}

