/*Title & continue button*/
h1 {
    margin-top: calc(0.2 * 100vh);
    color: #ffffff;
    font-size: 3vw;
    display: block;
    text-align: center;
    text-shadow: 0 3px 0.5px rgba(0,0,0,.1),
                 0 0 2.5px rgba(0,0,0,.1),
                 0 0.5px 1.5px rgba(0,0,0,.3),
                 0 1.5px 2.5px rgba(0,0,0,.2),
                 0 2.5px 5px rgba(0,0,0,.25),
                 0 5px 5px rgba(0,0,0,.2),
                 0 10px 10px rgba(0,0,0,.15);
}
#title {
    font-size: 11vw;
    font-family: Avant Garde, sans-serif;
    margin-left: auto;
    margin-right: auto;
    text-shadow: 0 1px 0 #ccc, 
                 0 2px 0 #c9c9c9,
                 0 3px 0 #bbb,
                 0 4px 0 #b9b9b9,
                 0 5px 0 #aaa,
                 0 6px 1px rgba(0,0,0,.1),
                 0 0 5px rgba(0,0,0,.1),
                 0 1px 3px rgba(0,0,0,.3),
                 0 3px 5px rgba(0,0,0,.2),
                 0 5px 10px rgba(0,0,0,.25),
                 0 10px 10px rgba(0,0,0,.2),
                 0 20px 20px rgba(0,0,0,.15);
}
header {
    display: block;
    height: auto;
    width: auto;
}
span {
    padding: 1% 1.5%;
    color: black;
    border-radius: 1vw;
    font-size: 2vw;
}
span:active {
    font-size: 1.6vw;
}
span:hover {
    color: white;
}
#buttons {
    text-align: center;
    margin-top: 5%;
}
#buttons span {
    background-image: linear-gradient(to top right, rgb(197, 98, 87), rgb(250, 155, 144));
    box-shadow: 0 1px 0 rgb(197, 99, 88), 
                 0 2px 0 rgb(197, 101, 90),
                 0 3px 0 rgb(197, 103, 92),
                 0 4px 0 rgb(197, 105, 94),
                 0 5px 0 rgb(197, 107, 96),
                 0 6px 1px rgba(0,0,0,.1),
                 0 0 5px rgba(0,0,0,.1),
                 0 1px 3px rgba(0,0,0,.3),
                 0 3px 5px rgba(0,0,0,.2),
                 0 5px 10px rgba(0,0,0,.25),
                 0 10px 10px rgba(0,0,0,.2),
                 0 20px 20px rgba(0,0,0,.15);
}
a {
    text-decoration: none;
}
#button-left {
    margin-left: auto;
    margin-right: 1%;
}
#button-right {
   margin-left: 1%;
   margin-right: auto; 
}

/* Text */

.text {
    padding: 0 20vw 0 20vw;
    font-size: 2vw;
    display: block;
    text-align: center;
    margin-top: 10vh;
    padding-bottom: 50vh;
}
#contact-link {
    text-decoration: underline;
    color: rgb(255, 255, 255);
}
#contactlink:hover {
    color: salmon;
}


/*menu sidebar*/

.navbar {
    height: 100%;
    width: 7vw;
    background-image: linear-gradient(to right,rgba(255, 255, 255, 0.3),rgba(255, 255, 255, 0.13));
    float: left;
    position: fixed;
    padding-top: 1vw;
    top: 0;
    display: none;
}
ul {
    list-style-type: none;
    position: fixed;
    font-size: 1vw;
    margin-left: auto;
    margin-right: auto;
}
li {
    text-align: left;
}
.menu {
    text-decoration: none;
    color: rgb(255, 255, 255);
}
.menu:hover {
    color: salmon;
}
li:hover {
    animation-name: hover;
    animation-duration: 300ms;
    animation-fill-mode: forwards;
}
@keyframes hover {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.2);
    }
}

/* footer */

footer {
    text-align: center;
    font-size: 1vw;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    position: absolute;
    bottom: 1vh;
}

/*body*/

#page-container {
    position: relative;
    min-height: auto;
}
body {
    background-image: linear-gradient(to top right, rgb(30, 30, 39), rgb(58, 76, 121));
    background-repeat: no-repeat;
    margin: 0;
    font-family: Consolas, monospace;
    color: white;
}
/*media*/

@media only screen and (max-width: 800px) {
    .navbar {
        display: none;
    }
    .text {
        font-size: 3vw;
    }
    h1 {
        font-size: 5vw;
    }
    #title {
        font-size: 15vw;
    } 
}
