/*Title & continue button*/

h1 {
    margin-top: calc(0.3 * 100vh);
    color: #1d1d1d;
    -webkit-text-stroke: 1px #393939;
    font-size: 600%;
    display: block;
    text-align: center;
}
header {
    display: block;
    height: 100vh;
    width: auto;
}
#continue {
    color: #1d1d1d;
    text-decoration: none;
    margin-top: 10%;
    font-size: 300%;
    text-align: center;
    display: block;
}
#continue:hover {
    transform: scale(1.2);
}

/* Text */

.text {
    width: auto;
    height: auto;
    opacity: 80%;
    margin: 0px 5% 200px 15%;
    padding: 0;
    float: right;
    line-height: 40px;
    background-color: transparent;
    font-size: 200%;
    display: block;
}
a {
    text-decoration: underline;
    color: black;
}
img {
    float: left;
    margin-right: 20px;
}

/*menu sidebar*/

.navbar {
    height: 100%;
    width: 120px;
    background-color: #818181;
    float: left;
    position: fixed;
    padding-top: 50px;
    top: 0;
    box-shadow: -8px 0 9px 10px rgba(0,0,0,1);
    display: block;
}
ul {
    list-style-type: none;
    position: fixed;
    font-size: 90%;
}
li {
    text-align: left;
    margin: 10px 10px 10px -20px;
}
.menu {
    text-decoration: none;
    color: black;
}
li:hover {
    animation-name: hover;
    animation-duration: 300ms;
    animation-fill-mode: forwards;
}
@keyframes hover {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.2);
    }
}

/* footer */

footer {
    margin-bottom: 0;
    margin-left: 120px;
    width: 90.8%;
    height: 20px;
    text-align: center;
    padding: 10px;
    background-image: url(https://i.ibb.co/nsZ3Fj2/background.jpg);
    background-position: center;
    font-size: 75%;
    display: block;
    float: left;
}

/*body*/

body {
    background-image: url(https://i.ibb.co/nsZ3Fj2/background.jpg);
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
    margin: 0;
    position: absolute;
    font-family: Consolas, monospace;
}
@media only screen and (max-width: 1380px) {
    h1 {
        font-size: 400%;
        margin-top: calc(0.2 * 100vh);
    }
}
@media only screen and (max-width: 900px) {
    h1 {
        margin-top: calc(0.1 * 100vh);
    }
    .navbar {
        display: none;
    }
    body {
        background-size: 900px auto;
        background-repeat: no-repeat;
    }
    footer {
        margin-left: 0;
        width: 100%;
    }
    img {
        margin-right: auto;
    }
}