<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://fonts.googleapis.com/css2?family=Nova+Square&display=swap" rel="stylesheet">
    <link rel="stylesheet" href='../static/about.css'>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>About</title>
</head>
<body>
<div id="page-container">
<div id="navtop">
    <strong>
    <a id="navtitle" href="/" style="font-family: Avant Garde, sans-serif;"><span>Harmens Portfolio</span></a>
    <a class="navbutton" id="left-button" href="/"><span>Home</span></a>
    <a class="navbutton" id="highlight" href="/about"><span>About</span></a>
    <a class="navbutton" href="/contact"><span>Contact</span></a>
    </strong>
</div>
<div id="title">
<br><br>
<h2>My General Information:</h2>
<ul id="hreflist">
<li class="hrefs"><a class="hreflink" href="#aboutme">About me</a></li>
<li class="hrefs"><a class="hreflink" href="#studie">Studie</a></li>
<li class="hrefs"><a class="hreflink" href="#werk">Werkervaring</a></li>
<li class="hrefs"><a class="hreflink" href="#interesses">Interesses</a></li>
<li class="hrefs"><a class="hreflink" href="#projects">Projecten</a></li>
</ul>
</div>
<div id="aboutme">
<br><br>
<h3>About me:</h3>
<table>
    <tr>
        <td class="tab1">20 Juli 2001</td>
    </tr>
    <tr>
    <td colspan="2" class="info">Mijn geboortedag. Ik ben geboren in Barneveld, waar ik nog steeds woon. Als je een beetje kan rekenen zal je er achter komen dat ik momenteel 19 jaar ben.</td>
    </tr>
    <!--<tr>
        <td class="tab1">-</td>
    </tr>
    <tr>
    <td colspan="2" class="info">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer a erat bibendum, tristique augue et, volutpat odio. Maecenas facilisis mattis odio, vitae placerat ligula ornare posuere. Nam at orci at nunc viverra tincidunt at in nisi. Suspendisse potenti. Quisque elementum, lacus eget sollicitudin feugiat, justo arcu elementum mi, at faucibus ex velit in risus. Sed ultricies porttitor ligula, id euismod diam ultricies a. Curabitur facilisis blandit magna id ornare.</td>
    </tr>
    <tr>
        <td class="tab1">-</td>
    </tr>
    <tr>
    <td colspan="2" class="info">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer a erat bibendum, tristique augue et, volutpat odio. Maecenas facilisis mattis odio, vitae placerat ligula ornare posuere. Nam at orci at nunc viverra tincidunt at in nisi. Suspendisse potenti. Quisque elementum, lacus eget sollicitudin feugiat, justo arcu elementum mi, at faucibus ex velit in risus. Sed ultricies porttitor ligula, id euismod diam ultricies a. Curabitur facilisis blandit magna id ornare.</td>
    </tr>-->
</table>
</div>
<h2>My Curriculum Vitae:</h2>
<div id="studie">
<br><br>
<h3>Studie:</h3>
<table>
    <tr>
        <td class="tab">2005-2013</td>
        <td class="info-title">Eben-Haëzer School</td>
    </tr>
    <tr>
    <td colspan="2" class="info">Dit was mijn basisschool, waar ik soepel doorheen ging, en als een van de beste doorstroomde naar de middelbare school.</td>
    </tr>
    <tr>
        <td class="tab">2013-2018</td>
        <td class="info-title">van Lodenstein College</td>
    </tr>
    <tr>
    <td colspan="2" class="info">Na de basisschool kwam ik op de middelbare school terecht, waar ik als VWO'er begon. Dit ging voor 2 jaar goed, maar in de 3e bleek dit door Wiskunde en Engels te hoog gegrepen.
    Hierdoor ben ik in het 4e jaar naar Havo gegaan, waar ik dat jaar op het nippertje opnieuw moest doen. Hier besefte ik dat het niet allemaal mer over koetjes en kalfjes ging en dat ik toch mijn best moest gaan doen.
    In de 5e ben ik dus keihard aan de gang gegaan, en het bijzonderste vond ik dat ik vooral in Wiskunde en Engels uitblonk. Door deze 2 vakken moest ik na het 3e jaar van VWO naar Havo. Ook met de examens had ik voor
    voor Engels en Wiskunde een 8,6 en een 9,1. Voor mijn Profiel Werkstuk heb ik samen met een vriend onderzoek gedaan naar Cyber Security in Ziekenhuizen en Scholen.
    </td>
    </tr>
    <tr>
        <td class="tab">2018-heden</td>
        <td class="info-title">HBO-ICT Hogeschool Utrecht</td>
    </tr>
    <tr>
    <td colspan="2" class="info">
    In 2018 ben ik vol goede moed begonnen aan de Open-ICT HBO opleiding op de Hogeschool Utrecht. dit bleek na een halfjaar toch niet goed te gaan, voornamelijk omdat ik zonder ICT ervaring van de Havo afkwam en naar de Hogeschool ging.
    Ook was de Open-ICT een nieuw 'project' waardoor ook de school mij daarin nog niet goed kon begeleiden. Daarom ben ik na een halfjaar gestopt, en het jaar erna weer opnieuw begonnen. Door eerder opgedane ervaring en de ervaring van de school zelf ging dat beter.
    Of dat zo blijft gaan we nog zien.
    </td>
    </tr>
</table>
</div>
<div id="werk">
<br><br>
<h3>Werkervaring:</h3>
<table>
    <tr>
        <td class="tab">2014-2016</td>
        <td class="info-title">Hoofd Wasafdeling Schaffelaer Caravans Barneveld</td>
    </tr>
    <tr>
    <td colspan="2" class="info">
        Als 13-jarige begon ik op zaterdagen me te veel te vervelen, en besloot ik een bijbaantje te nemen. Door familie kwam ik terecht bij Schaffelaer Caravans Barneveld. Hier heb ik hard leren werken (voor weinig geld) maar na 2 jaar bleek
        dat ze mij eigenlijk geen betere baan wilden geven, en ik ben daarom weg gegaan.
    </td>
    </tr>
    <tr>
        <td class="tab">2016-2020</td>
        <td class="info-title">Productiemedewerker Hazeleger Kaas Barneveld</td>
    </tr>
    <tr>
    <td colspan="2" class="info">
        Mijn vader werkt(e) bij Hazeleger Kaas, en omdat die altijd mensen zochten kon ik daar na mijn werk bij Schaffelaer Caravans goed terecht. Hier ben ik gestart als kratjeswasser, en heb me omhooggeklommen naar schaver van kazen.
        Eind 2019 kwam er steeds meer wrijving tussen mij en mijn leidinggevende, en nadat bleek dat er veel vriendjespolitiek was ben ik daar in de zomervakantie van 2020 weg gegaan. 
    </td>
    </tr>
</table>
</div>
<div id="interesses">
<br><br>
<h3>Interesses:</h3>
<table>
    <tr>
        <td class="tab">2010-heden</td>
        <td class="info-title"><a href="https://www.autogespot.nl/spots?spotter=KIP">Automotive Photography</a></td>
    </tr>
    <tr>
    <td colspan="2" class="info">
        Als klein kind had ik al veel interesse in auto's, en nadat mijn neef mij het auto's spotten had aangeleerd kreeg ik van mijn ouders mijn eerste camera.
        <br>
        Een paar autospottrips in mijn carriére als autospotter:
        <br><br>
        <i>-Laren, Nederland Mei 2013<br></i>
        <i>-Luxemburg stad, Luxemburg Juli 2013<br></i>
        <i>-Knokke-Heist, België Augustus 2013<br></i>
        <i>-Düsseldorf, Duitsland juli 2015<br></i>
        <i>-Londen, Engeland Augustus 2016<br></i>
        <i>-Düsseldorf, Duitsland Augustus 2017<br></i>
        <i>-Laren, Nederland Mei 2018<br></i>
        <i>-Nürburgring, Duitsland Juli 2018<br></i>
        <i>-Interlaken, Zwitserland Augustus 2018<br></i>
        <i>-Londen, Engeland September 2018<br></i>
        <i>-Laren, Nederland September 2018<br></i>
        <i>-Amsterdam, Nederland December 2018<br></i>
        <i>-Amsterdam, Nederland Maart 2019<br></i>
        <i>-Parijs, Frankrijk Juni 2019<br></i>
        <i>-Düsseldorf, Duitsland Juli 2019<br></i>
        <i>-Monaco, Monaco Augustus 2019<br></i>
        <i>-Roermond, Nederland September 2019<br></i>
        <i>-Amsterdam, Nederland Februari 2020<br></i>
        <i>-Laren, Nederland Mei 2020<br></i>
        <i>-Vlaardingen, Nederland Juli 2020<br></i>
    </td>
    </tr>
    <tr>
        <td class="tab">2014-heden</td>
        <td class="info-title">Gaming</td>
    </tr>
    <tr>
    <td colspan="2" class="info">
        Door gamen heb ik veel contact met vrienden kunnen onderhouden, en veel nieuwe vrienden gemaakt. Mijn favoriete games zijn/waren: <br><br>
        <i>-Counter-Strike:Global Offensive
        <br>-Grand Theft Auto
        <br>-Hitman 2
        <br>-FiveM
        <br>-Minecraft</i>
    </td>
    </tr>
    <tr>
        <td class="tab">2018-heden</td>
        <td class="info-title">Programmeren</td>
    </tr>
    <tr>
    <td colspan="2" class="info">
        Deze hobby voer ik voornamelijk uit op school, en deze website is een van de eerste echte projecten. 
    </td>
    </tr>
</table>
</div>
<div id="projects">
<br><br>
<h3>Projecten:</h3>
<table class="tg">
    <tr>
        <td class="tab">2019-heden</td>
        <td class="info-title">Instagram project <a style href="https://www.instagram.com/dutch_g700/">@Dutch_g700</a></td>
    </tr>
    <tr>
    <td colspan="2" class="info">
        Dit Instagram account ben ik samen met een vriend gestart, nadat er veel interesse in de auto van zijn vader bleek te zijn. Zoals de naam aangeeft had zijn vader een Brabus G700 (en andere auto's).
        In de eerste week hadden we al bijna 1.000 volgers. Binnen een halfjaar hadden we zo'n 3.500 volgers. Hierna had zijn vader de auto verkocht en hebben we het account gestopt.
        Door dit account heb ik een beetje een 'insight' gekregen in de wereld van fotoshoots en instagram omdat er veel (ook professionele) autofotografen waren die hun expertise aanboden.
    </td>
    </tr>
    <tr>
        <td class="tab">2019-heden</td>
        <td class="info-title"><a href="https://www.autogespot.nl/spots?spotter=Divo">Automotive Photoshoots</a></td>
    </tr>
    <tr>
    <td colspan="2" class="info">
    Sinds mijn 10e was ik al bezig met foto's maken van auto's, en nu ben ik daar dus al 10 jaar mee bezig.
    Nu doe ik zo'n 2 jaar fotoshoot's voor particulieren, wat wel nog voor de hobby is, dus ik vraag er geen specifiek bedrag voor.
    Omdat ikzelf en anderen vinden dat de kwaliteit steeds professioneler word ben ik wel van plan om er geld te voor vragen.
    <br><br>
    Een aantal auto's waar ik een fotoshoot mee heb gedaan zijn:
    <br><br>
    <i>
    -Aston Martin DB11<br>
    -BMW X6M<br>
    -BMW M4 Cabriolet 30 Jahre Edition<br>
    -Brabus G700<br>
    -Mclaren 570S<br>
    -Jaguar XK-RS <br>
    -Volkswagen Golf VIII <br>
    -Ford Mustang 1970<br>
    -Ferrari 812 Superfast<br>
    </td>
    </tr>
    <tr>
        <td class="tab">2020-heden</td>
        <td class="info-title">Portfolio website <a href="https://harmen-gerritsen.herokuapp.com/">https://harmen-gerritsen.herokuapp.com/</a></td>
    </tr>
    <tr>
    <td colspan="2" class="info">
    In het eerste jaar van de open-ICT opleiding op de Hogeschool Utrecht moesten we een portfolio website maken. 
    Het eindproduct hiervan zal deze website worden. Oftewel, deze website is die portfoliowebsite. Natuurlijk is het niet professioneel of überhaupt goed, maar het is nog het eerste jaar en het werkt.
    Ik hoop deze website up-to-date te houden dus hij zal beter worden met de tijd.</td>
    </tr>
</table>

<div id="backbutton">
<a href="#title">
<img src="../static/img/totop.png" alt="back up" style="height: 4vh; width: 2vw;">
</a>
</div>

<div>
<a href="/" class="myButton">Ga terug</a>
</div>

</div>
<footer>Copyright© 2020 by Harmen Gerritsen</footer>
</div>

</body>
</html>