<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href='../static/about.css'>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<div class="navbar">
    <ul>
        <li class="list-1"><a class="menu" href="/">Home</a></li>
        <li class="list-1"><a class="menu" href="/about">About</a></li>
        <li class="list-1"><a class="menu" href="/contact">Contact</a></li>
        <li class="list-1"><a class="menu" href="https://www.youtube.com/watch?v=dQw4w9WgXcQ&ab_channel=RickAstleyVEVO" target="_blank">Free $100</a></li>
    </ul>
</div>
<h2>My Information:</h2>
<table>
    <tr>
        <th style="font-weight: bold">Scholen</th>
        <td>Eben-Haëzer School, van Lodenstein College, Hogeschool Utrecht</td>
    </tr>
    <tr>
        <th style="font-weight: bold">Diploma's</th>
        <td>Veterstrik Diploma, Zwemdiploma A & B, Havo Diploma</td>
    </tr>
</table>
<footer>Copyright© 2020 by Harmen Gerritsen</footer>
</body>
</html>