<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://fonts.googleapis.com/css2?family=Nova+Square&display=swap" rel="stylesheet">
    <link rel="stylesheet" href='../static/about.css'>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>About</title>
</head>
<body>
<div id="page-container">
<div id="navtop">
    <strong>
    <a id="navtitle" href="/" style="font-family: Avant Garde, sans-serif;"><span>Harmens Portfolio</span></a>
    <a class="navbutton" id="left-button" href="/"><span>Home</span></a>
    <a class="navbutton" id="highlight" href="/about"><span>About</span></a>
    <a class="navbutton" href="/contact"><span>Contact</span></a>
    </strong>
</div>
<h2>My Curriculum Vitae:</h2>
<h3>Studie:</h3>
<table>
    <tr>
        <td class="tab">2005-2013</td>
        <td class="info-title">Eben-Haëzer School</td>
    </tr>
    <tr>
    <td colspan="2" class="info">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer a erat bibendum, tristique augue et, volutpat odio. Maecenas facilisis mattis odio, vitae placerat ligula ornare posuere. Nam at orci at nunc viverra tincidunt at in nisi. Suspendisse potenti. Quisque elementum, lacus eget sollicitudin feugiat, justo arcu elementum mi, at faucibus ex velit in risus. Sed ultricies porttitor ligula, id euismod diam ultricies a. Curabitur facilisis blandit magna id ornare.</td>
    </tr>
    <tr>
        <td class="tab">2013-2018</td>
        <td class="info-title">van Lodenstein College</td>
    </tr>
    <tr>
    <td colspan="2" class="info">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer a erat bibendum, tristique augue et, volutpat odio. Maecenas facilisis mattis odio, vitae placerat ligula ornare posuere. Nam at orci at nunc viverra tincidunt at in nisi. Suspendisse potenti. Quisque elementum, lacus eget sollicitudin feugiat, justo arcu elementum mi, at faucibus ex velit in risus. Sed ultricies porttitor ligula, id euismod diam ultricies a. Curabitur facilisis blandit magna id ornare.</td>
    </tr>
    <tr>
        <td class="tab">2018-heden</td>
        <td class="info-title">HBO-ICT Hogeschool Utrecht</td>
    </tr>
    <tr>
    <td colspan="2" class="info">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer a erat bibendum, tristique augue et, volutpat odio. Maecenas facilisis mattis odio, vitae placerat ligula ornare posuere. Nam at orci at nunc viverra tincidunt at in nisi. Suspendisse potenti. Quisque elementum, lacus eget sollicitudin feugiat, justo arcu elementum mi, at faucibus ex velit in risus. Sed ultricies porttitor ligula, id euismod diam ultricies a. Curabitur facilisis blandit magna id ornare.</td>
    </tr>
</table>
<h3>Werkervaring:</h3>
<table>
    <tr>
        <td class="tab">2014-2016</td>
        <td class="info-title">Hoofd Wasafdeling Schaffelaar Caravans Barneveld</td>
    </tr>
    <tr>
    <td colspan="2" class="info">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer a erat bibendum, tristique augue et, volutpat odio. Maecenas facilisis mattis odio, vitae placerat ligula ornare posuere. Nam at orci at nunc viverra tincidunt at in nisi. Suspendisse potenti. Quisque elementum, lacus eget sollicitudin feugiat, justo arcu elementum mi, at faucibus ex velit in risus. Sed ultricies porttitor ligula, id euismod diam ultricies a. Curabitur facilisis blandit magna id ornare.</td>
    </tr>
    <tr>
        <td class="tab">2016-2020</td>
        <td class="info-title">Productiemedewerker Hazeleger Kaas Barneveld</td>
    </tr>
    <tr>
    <td colspan="2" class="info">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer a erat bibendum, tristique augue et, volutpat odio. Maecenas facilisis mattis odio, vitae placerat ligula ornare posuere. Nam at orci at nunc viverra tincidunt at in nisi. Suspendisse potenti. Quisque elementum, lacus eget sollicitudin feugiat, justo arcu elementum mi, at faucibus ex velit in risus. Sed ultricies porttitor ligula, id euismod diam ultricies a. Curabitur facilisis blandit magna id ornare.</td>
    </tr>
</table>
<h3>Projecten:</h3>
<table class="tg">
    <tr>
        <td class="tab">2019-heden</td>
        <td class="info-title">Instagram project <a style href="https://www.instagram.com/dutch_g700/">@Dutch_g700</a></td>
    </tr>
    <tr>
    <td colspan="2" class="info">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer a erat bibendum, tristique augue et, volutpat odio. Maecenas facilisis mattis odio, vitae placerat ligula ornare posuere. Nam at orci at nunc viverra tincidunt at in nisi. Suspendisse potenti. Quisque elementum, lacus eget sollicitudin feugiat, justo arcu elementum mi, at faucibus ex velit in risus. Sed ultricies porttitor ligula, id euismod diam ultricies a. Curabitur facilisis blandit magna id ornare.</td>
    </tr>
    <tr>
        <td class="tab">2019-heden</td>
        <td class="info-title"><a href="https://www.autogespot.nl/spots?spotter=Divo">Automotive Photoshoots</a></td>
    </tr>
    <tr>
    <td colspan="2" class="info">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer a erat bibendum, tristique augue et, volutpat odio. Maecenas facilisis mattis odio, vitae placerat ligula ornare posuere. Nam at orci at nunc viverra tincidunt at in nisi. Suspendisse potenti. Quisque elementum, lacus eget sollicitudin feugiat, justo arcu elementum mi, at faucibus ex velit in risus. Sed ultricies porttitor ligula, id euismod diam ultricies a. Curabitur facilisis blandit magna id ornare.</td>
    </tr>
    <tr>
        <td class="tab">2020-heden</td>
        <td class="info-title">Portfolio website <a href="https://harmen-gerritsen.herokuapp.com/">https://harmen-gerritsen.herokuapp.com/</a></td>
    </tr>
    <tr>
    <td colspan="2" class="info">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer a erat bibendum, tristique augue et, volutpat odio. Maecenas facilisis mattis odio, vitae placerat ligula ornare posuere. Nam at orci at nunc viverra tincidunt at in nisi. Suspendisse potenti. Quisque elementum, lacus eget sollicitudin feugiat, justo arcu elementum mi, at faucibus ex velit in risus. Sed ultricies porttitor ligula, id euismod diam ultricies a. Curabitur facilisis blandit magna id ornare.</td>
    </tr>
</table>
<h3>Interesses:</h3>
<table>
    <tr>
        <td class="tab">2010-heden</td>
        <td class="info-title"><a href="https://www.autogespot.nl/spots?spotter=KIP">Automotive Photography</a></td>
    </tr>
    <tr>
    <td colspan="2" class="info">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer a erat bibendum, tristique augue et, volutpat odio. Maecenas facilisis mattis odio, vitae placerat ligula ornare posuere. Nam at orci at nunc viverra tincidunt at in nisi. Suspendisse potenti. Quisque elementum, lacus eget sollicitudin feugiat, justo arcu elementum mi, at faucibus ex velit in risus. Sed ultricies porttitor ligula, id euismod diam ultricies a. Curabitur facilisis blandit magna id ornare.</td>
    </tr>
    <tr>
        <td class="tab">2014-heden</td>
        <td class="info-title">Gaming</td>
    </tr>
    <tr>
    <td colspan="2" class="info">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer a erat bibendum, tristique augue et, volutpat odio. Maecenas facilisis mattis odio, vitae placerat ligula ornare posuere. Nam at orci at nunc viverra tincidunt at in nisi. Suspendisse potenti. Quisque elementum, lacus eget sollicitudin feugiat, justo arcu elementum mi, at faucibus ex velit in risus. Sed ultricies porttitor ligula, id euismod diam ultricies a. Curabitur facilisis blandit magna id ornare.</td>
    </tr>
    <tr>
        <td class="tab">2018-heden</td>
        <td class="info-title">Programmeren</td>
    </tr>
    <tr>
    <td colspan="2" class="info">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer a erat bibendum, tristique augue et, volutpat odio. Maecenas facilisis mattis odio, vitae placerat ligula ornare posuere. Nam at orci at nunc viverra tincidunt at in nisi. Suspendisse potenti. Quisque elementum, lacus eget sollicitudin feugiat, justo arcu elementum mi, at faucibus ex velit in risus. Sed ultricies porttitor ligula, id euismod diam ultricies a. Curabitur facilisis blandit magna id ornare.</td>
    </tr>
</table>
<footer>Copyright© 2020 by Harmen Gerritsen</footer>
</div>
</body>
</html>