

<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://fonts.googleapis.com/css2?family=Nova+Square&display=swap" rel="stylesheet">
    <link rel="stylesheet" href='../static/contact.css'>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Contact</title>
</head>
<body>
<div id="page-container">
<div id="navtop">
    <strong>
    <a id="navtitle" href="/" style="font-family: Avant Garde, sans-serif;"><span>Harmens Portfolio</span></a>
    <a class="navbutton" id="left-button" href="/"><span>Home</span></a>
    <a class="navbutton"  href="/about"><span>About</span></a>
    <a class="navbutton" id="highlight" href="/contact"><span>Contact</span></a>
    </strong>
</div>
<div id="flash">
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class="flashed-message">
                {% for message in messages %}
                <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
</div>
<div>
    <ol>
        <li id="list-title">Contact opties:</li>
        <li class="list-contact">
            <a class="link" href="https://www.whatsapp.com/download/" target="_blank"><img class="list-image" src="../static/img/whatsapp.png" alt="whatsapp" style="height: 4%; width: 4%">  06-12345678</a></li>
        <li class="list-contact">
            <a id="mail" class="link" href="mailto:harmen.gerritsen@student.hu.nl" target="_blank"><img class="list-image" src="../static/img/email.png" alt="email" style="height: 4%; width: 4%">  harmen.gerritsen@student.hu.nl</a></li>
        <li class="list-contact">
            <a class="link" href="https://www.instagram.com/harmen_gerritsen/" target="_blank"><img class="list-image" src="../static/img/instagram.png" alt="instagram" style="height: 4%; width: 4%">  @harmen.gerritsen</a></li>
        <li class="list-contact">
            <a class="link" href="https://www.google.nl/maps/@52.0444112,5.0375825,3a,75y,104.85h,87.52t/data=!3m8!1e1!3m6!1sAF1QipPP5yvyo57JUjCCT68jAKd_NIzSSViZG-bcUmwX!2e10!3e11!6shttps:%2F%2Flh5.googleusercontent.com%2Fp%2FAF1QipPP5yvyo57JUjCCT68jAKd_NIzSSViZG-bcUmwX%3Dw203-h100-k-no-pi-5.7710347-ya44.820137-ro1.1415874-fo100!7i7200!8i3600" target="_blank">
                <img class="list-image" src="../static/img/house.png" alt="post" style="height: 4%; width: 4%">  the Netherlands</a></li>
    </ol>
</div>
<div class="container">
<form action="" method="post" novalidate>
    {{  form.hidden_tag()  }}
    <p>
    {{  form.fname.label  }}<br>
    {{  form.fname }}
    </p>
    <p>
    {{  form.lname.label  }}<br>
    {{  form.lname }}
    </p>
    <p>
    {{  form.email.label  }}<br>
    {{  form.email }}
    </p>
    <p>
    {{  form.message.label  }}<br>
    {{  form.message }}
    </p>
    <p>
    {{  form.submit  }}
    </p>
</form>

<div>
<a href="/" class="myButton">Ga terug</a>
</div>

</div>
<footer>Copyright© 2020 by Harmen Gerritsen</footer>
</div>
</body>
</html>