<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href='../static/contact.css'>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Title</title>
</head>
<body>
<div class="navbar">
    <ul>
        <li><a class="menu" href="/">Home</a></li>
        <li><a class="menu" href="/about">About me</a></li>
        <li><a class="menu" href="/contact">Contact</a></li>
        <li><a class="menu" href="https://www.youtube.com/watch?v=dQw4w9WgXcQ&ab_channel=RickAstleyVEVO">Free $100</a></li>
    </ul>
</div>
<footer>Copyright© 2020 by Harmen Gerritsen</footer>
</body>
</html>