<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://fonts.googleapis.com/css2?family=Nova+Square&display=swap" rel="stylesheet">
    <link rel="stylesheet" href='../static/gallery.css'>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Contact</title>
</head>
<body>
<div id="page-container">
<div id="navtop">
    <strong>
    <a id="navtitle" href="/" style="font-family: Avant Garde, sans-serif;"><span>Harmens Portfolio</span></a>
    <a class="navbutton" id="left-button" href="/"><span>Home</span></a>
    <a class="navbutton"  href="/about"><span>About</span></a>
    <a class="navbutton" id="highlight" href="/contact"><span>Contact</span></a>
    </strong>
</div>
<footer>Copyright© 2020 by Harmen Gerritsen</footer>
</div>
</body>
</html>