<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://fonts.googleapis.com/css2?family=Nova+Square&display=swap" rel="stylesheet">
    <link rel="stylesheet" href='../static/main.css'>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Portfolio</title>
</head>
<body>
<header>
    <h1><div id="title">HARMEN</div>
    <br>
    Student, Gamer, Photographer.
    </h1>
    <div id="buttons">
    <a id="button-left" href="/contact"><span>Contact</span></a>
    <a id="button-middle" href="#general"><span>Continue</span></a>
    <a id="button-right" href="/about"><span>About</span></a>
    </div>
</header>
<div class="text" id="general">
    <br><br><br>
    <strong>Hallo daar!</strong>
    <br><br>
    Voordat je mijn portfoliowebsite ga verkennen, zal ik me even voorstellen.
    Ik ben <strong>Harmen Gerritsen</strong>, <strong>19 regenseizoenen oud</strong> en woon in het kippendorp <strong>Barneveld</strong>.
    Na wat tegenslagen heb ik de havo 5 afgerond, en ik zit nu in het eerste jaar van de <strong>OPEN-ICT opleiding op de Hogeschool Utrecht</strong>.
    Meer informatie zoals mijn CV etc. kan je <strong><a id="contact-link" href="/about">hier</a></strong> vinden!
    </div>
    <br>
<div class="text" id="text-2">
    
</div>
<div class="navbar">
    <ul>
        <li><a class="menu" href="/">Home</a></li>
        <li><a class="menu" href="/about">About</a></li>
        <li><a class="menu" href="/contact">Contact</a></li>
        <li><a class="menu" href="https://www.youtube.com/watch?v=dQw4w9WgXcQ&ab_channel=RickAstleyVEVO" target="_blank">Free $100</a></li>
    </ul>
</div>
<div><footer>Copyright© 2020 by Harmen Gerritsen</footer></div>
</body>
</html>